@model List<FashionShop.Models.DTO.ProductDTO.GetProductByIdDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Danh mục @ViewBag.NameCategory.Name</a></li>
        </ul>

        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h2>Danh sách @ViewBag.NameCategory.Name</h2>
            </div>

            <div style="padding: 0 0 25px 15px;">
                <select id="orderBy" data-id="@ViewBag.IdCategory">
                    <option value="">Sắp xếp</option>
                    <option value="1" @Html.Raw(@ViewBag.IdOrderProduct == 1 ? "selected" : "")>Giá: Tăng dần</option>
                    <option value="2" @Html.Raw(@ViewBag.IdOrderProduct == 2 ? "selected" : "")>Giá: Giảm dần</option>
                    <option value="3" @Html.Raw(@ViewBag.IdOrderProduct == 3 ? "selected" : "")>Tên: A-Z</option>
                    <option value="4" @Html.Raw(@ViewBag.IdOrderProduct == 4 ? "selected" : "")>Tên: Z-A</option>
                    <option value="5" @Html.Raw(@ViewBag.IdOrderProduct == 5 ? "selected" : "")>Mới nhất</option>
                    <option value="6" @Html.Raw(@ViewBag.IdOrderProduct == 6 ? "selected" : "")>Cũ nhất</option>
                </select>
            </div>

            
            @if(Model.Count > 0)
            {
                @foreach (var pro in Model)
                {
                    decimal price = Convert.ToDecimal(@pro.Price);
                    decimal discount = Convert.ToDecimal(@pro.Discount);
                    decimal discountedPrice = price - (price * discount / 100);
                    string formattedPrice = price.ToString("N0") + "đ";
                    string formattedPriceHasDiscount = discountedPrice.ToString("N0") + "đ";

                    if (pro.Discount > 0)
                    {
                        <div class="col-md-2 col-sm-6 col-xs-6 mb-30 width-100">
                            <div class="product-thumb effect-shadow">
                                <div class="product-view-block">
                                    <div class="button-block">
                                        <a class="btnAddProductFavorite" data-id="@pro.ID"> <i class="fa fa-heart"></i></a>
                                        @*<a><i class="fa fa-random" aria-hidden="true"></i></a>*@
                                        <a href="javascript:void(0);" class="btnAddToCart" data-id="@pro.ID"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="price-view-block">
                                        <span class="price-left">@pro.Discount%</span>
                                    </div>

                                    <div class="image-block">
                                        <a href="single-product.html" style="cursor: pointer">
                                            <img class="img-responsive" alt="i" src="/@pro.Image">
                                        </a>
                                    </div>


                                    <div style="margin: 0px 5px;text-align: center;">
                                        <p class="m-0 product-name-limit-line">
                                            @pro.Name
                                        </p>

                                        <span style="text-decoration: line-through; font-size: 80%; margin-right: 5px">
                                            @formattedPrice
                                        </span>

                                        <span>
                                            @formattedPriceHasDiscount
                                        </span>
                                    </div>
                                    <div class="effect-shadow">
                                        <a href="~/Product/Detail/@pro.ID" style="display: block; width: 100%; height: 100%;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 col-sm-6 col-xs-6 mb-30 width-100">
                            <div class="product-thumb effect-shadow">
                                <div class="product-view-block">
                                    <div class="button-block">
                                        <a class="btnAddProductFavorite" data-id="@pro.ID"> <i class="fa fa-heart"></i></a>
                                        @*<a><i class="fa fa-random" aria-hidden="true"></i></a>*@
                                        <a href="javascript:void(0);" class="btnAddToCart" data-id="@pro.ID"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="image-block">
                                        <a href="single-product.html" style="cursor: pointer">
                                            <img class="img-responsive" alt="i" src="/@pro.Image">
                                        </a>
                                    </div>
                                    <div style="margin: 0px 5px;text-align: center;">
                                        <p class="m-0 product-name-limit-line">
                                            @pro.Name
                                        </p>
                                        <span>
                                            @formattedPrice
                                        </span>
                                    </div>
                                    <div class="effect-shadow">
                                        <a href="~/Product/Detail/@pro.ID" style="display: block; width: 100%; height: 100%;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <h3 style="text-align: center; color: red">Hiện tại chưa có sản phẩm nào thuộc danh mục @ViewBag.NameCategory.Name</h3>
            }
        </div>
    </div>
</div>
