@using FashionShop.Helper;
@using FashionShop.Models.Domain;
@using FashionShop.Models.ViewModel;
@using Newtonsoft.Json;                
@using FashionShop.Data;
@using FashionShop.Repositories;
@using Microsoft.AspNetCore.Http;
@using Microsoft.EntityFrameworkCore;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
    string userJson = HttpContextAccessor.HttpContext.Session.GetString(CommonConstants.SessionUser);
    User user = null;
    if (userJson != null)
    {
        user = JsonConvert.DeserializeObject<User>(userJson);
    }

    //Kết nối db để hiển thị tất cả danh sách category
    string connectionString = "Data Source=sql.bsite.net\\MSSQL2016;Initial Catalog=lequanghao_FashionShop; User ID=lequanghao_FashionShop;Password=123456;TrustServerCertificate=True";
    
    DbContextOptions<FashionShopDBContext> options;
    options = new DbContextOptionsBuilder<FashionShopDBContext>()
                .UseSqlServer(connectionString)
                .Options;

    FashionShopDBContext fashionShopDbContext = new FashionShopDBContext(options);
    ICategoryRepository _categoryRepository = new CategoryRepository(fashionShopDbContext);

    var allCategory = _categoryRepository.GetAllCategory();
}

<!DOCTYPE html>
<html>
<head>
    <title>Fashion Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/assets/admin/libs/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet" />

    <!--custom css-->
    <link href="~/assets/customer/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/customer/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/customer/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/customer/css/responsive.css" rel="stylesheet" type="text/css" />

    <!--jquery-ui css-->
    <link href="~/assets/customer/lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <a href="javascript:void(0);" id="scroll" style="display: none;">
        <span>
            <i class="fa fa-chevron-circle-up"></i>
        </span>
    </a>
    <div id="page">
        <header class="header-container">
            <div class="container">
                <div class="top-row">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div id="logo">
                                <a href="~/Home">FashionShop</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12" style="color: blue">
                            <div class="social-icon-block">
                                <ul class="social-list">
                                    <li><a><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a><i class="fa fa-twitter fa-lg"></i> </a></li>
                                    <li><a><i class="fa fa-google-plus fa-lg"></i></a></li>
                                    <li><a><i class="fa fa-linkedin fa-lg"></i></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="contact">
                                <span>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a href="tel:+0123456789">0123456789</a>
                                </span>
                            </div>
                        </div>
                        @using (Html.BeginForm("SearchProductByName", "Home", FormMethod.Post))
                        {
                            <div class="col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-3 col-xs-offset-3 col-xs-6">
                                <div id="search" class="input-group">
                                
                                        <input type="text" id="txtKeyword" name="keyword" value="@ViewBag.keyword" placeholder="Nhập tên sản phẩm" class="form-control input-lg search-box">
                                        <span class="input-group-btn">
                                            <button type="submit" id="btnSearch" class="btn-lg search-button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                         }
                        <div class="col-md-2 col-sm-1 col-xs-12" style="padding-top: 3px; text-align: end">
                            <div class="shopping-cart">
                                <a href="~/ShoppingCart">
                                    <i class="fa-solid fa-cart-shopping fa-2xl" aria-hidden="true">
                                        <span class="cartLength" style="margin-left: 3px"></span>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--navigation--->
            <section class="main-nav-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-3 logo-fix">
                            <div id="logo">
                                <a href="~/Home">Fashion Shop</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <nav class="menu-bar">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <!--                                    <span class="">Menu</span>-->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                            <i class="fa fa-bars"></i>
                                        </button>

                                        <!--                                    <a class="navbar-brand" href="#">WebSiteName</a>-->
                                    </div>
                                    <div class="collapse navbar-collapse" id="myNavbar">
                                        <ul class="nav navbar-nav">
                                            <li><a href="~/Home">Trang chủ</a></li>
                                            <li class="product_menu">
                                                <a href="javascript:void(0)">
                                                    Sản phẩm<span class="fa fa-angle-down"></span>
                                                </a>

                                                @Html.Partial("_PartialViewCategory", allCategory)

                                             </li>
                                            <li><a href="~/Post">Bài viết</a></li>
                                            <li><a href="~/Contact">Liên hệ</a></li> 
                                            @if (user != null)
                                            {
                                                <li class="account_menu">
                                                    <a href="javascript:void(0)">
                                                        @user.FullName<span class="fa fa-angle-down"></span>
                                                    </a>
                                                    <ul class="account_item">
                                                        <li>
                                                            <a href="~/Account/Information">Thông tin tài khoản</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Account/OrderList">Danh sách đơn hàng</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/Account/FavoriteList">Danh sách yêu thích</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a  href="~/Account/Logout">Đăng xuất</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="~/Account/Login">Đăng nhập</a></li>
                                                <li><a href="~/Account/Register">Đăng ký</a></li>
                                            }
   
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>

                        <div class="col-md-1 col-sm-1 col-xs-3">
                            <a href="~/ShoppingCart">
                                <span class="cart-fix">
                                    <i class="fa-solid fa-cart-shopping fa-2xl" aria-hidden="true">
                                        <span class="cartLength" style="margin-left: 3px"></span>
                                    </i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end--->
        </header>
       
        <!--main content--->

        @RenderBody()
        

        <div class="divider"></div>
        <!--footer--->
        <footer>
            <div class="container">
                <div class="row footer-main-block">
                    <div class="col-sm-3">
                        <div class="footer-block">
                            <h4>Information <i class="fa fa-angle-up"></i></h4>

                            <ul class="list-unstyled">
                                <li><a>About Us</a></li>
                                <li><a>Delivery Information</a></li>
                                <li><a>Privacy Policy</a></li>
                                <li><a>Terms &amp; Conditions</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-block">
                            <h4>Extras <i class="fa fa-angle-up"></i></h4>
                            <ul class="list-unstyled">
                                <li><a>Contact Us</a></li>
                                <li><a>Returns</a></li>
                                <li><a>Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-block">
                            <h4>Service <i class="fa fa-angle-up"></i></h4>
                            <ul class="list-unstyled">
                                <li><a>Brands</a></li>
                                <li><a>Gift Vouchers</a></li>
                                <li><a>Affiliates</a></li>
                                <li><a>Specials</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-block">
                            <h4>My Account<i class="fa fa-angle-up"></i></h4>
                            <ul class="list-unstyled">
                                <li><a>My Account</a></li>
                                <li><a>Order History</a></li>
                                <li><a>Wish List</a></li>
                                <li><a>Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink !-->
                    © 2017 All right reserved. Designed by
                    <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a>
                </div>
            </div>
        </footer>
        <!---end -->
    </div>
    <!--end--->
    <!--js --->
    <script src="~/assets/customer/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/customer/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/customer/js/custom.js" type="text/javascript"></script>
   
    <script src="~/assets/customer/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/customer/lib/numeral/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.min.js" integrity="sha512-ILe+2LfkNmkbAHLz7DrbdJZLhqUY+SGK+CnM5IrXl6WoMTQcWIx5slRmiOCsXwnA61pNeJJb0aoF6UNDWjQRbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="~/assets/customer/js/controller/favoriteproductcontroller.js"></script>
    <script src="~/assets/customer/js/controller/accountcontroller.js"></script>
    <script src="~/assets/customer/js/controller/common.js"></script>
    <script src="~/assets/customer/js/controller/productcontroller.js"></script>
    <script src="~/assets/customer/js/controller/commentcontroller.js"></script>

    @RenderSection("script", false)
    <script src="~/assets/customer/js/controller/cartshoppingcontroller.js"></script>

    @await Component.InvokeAsync("Notyf")
</body>
</html>
