@using FashionShop.Models.DTO.ProductDTO;
@model List<GetProductDTO>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categoryVB = @ViewBag.Category;
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Áo khoác</a></li>
        </ul>

        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h2>Danh sách áo khoác</h2>
            </div>
            @foreach (var pro in Model.Where(p=>p.CategoryID == 1))
            {
                if (pro.Discount > 0)
                {
                    <div class="col-md-2 col-sm-6 col-xs-6 mb-30 width-100">
                        <div class="product-thumb transition">
                            <div class="product-view-block">
                                <div class="button-block">

                                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                                <div class="price-view-block">
                                    <span class="price-left">@pro.Discount %</span>
                                </div>

                                <div class="image-block">
                                    <a href="single-product.html" style="cursor: pointer">
                                        <img class="img-responsive" alt="i" src="@pro.Image">
                                    </a>
                                </div>


                                <div style="margin: 0px 5px;text-align: center;">
                                    <p class="m-0">
                                        @pro.Name
                                    </p>
                                    <span>
                                        @Html.Raw(@pro.Price - (@pro.Price * @pro.Discount/100))
                                    </span>

                                    <span style="text-decoration: line-through; font-size: 80%">
                                        @pro.Price
                                    </span>

                                </div>
                                <div class="effect-shadow">
                                    <a href="~/Product/Detail/@pro.ID" style="display: block; width: 100%; height: 100%;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-2 col-sm-6 col-xs-6 mb-30 width-100">
                        <div class="product-thumb transition">
                            <div class="product-view-block">
                                <div class="button-block">
                                    @*<a> <i class="fa fa-heart"></i></a>*@
                                    @*<a><i class="fa fa-random" aria-hidden="true"></i></a>*@
                                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                                <div class="image-block">
                                    <a href="single-product.html" style="cursor: pointer">
                                        <img class="img-responsive" alt="i" src="@pro.Image">
                                    </a>
                                </div>
                                <div style="margin: 0px 5px;text-align: center;">
                                    <p class="m-0">
                                        Category
                                        @pro.Name
                                    </p>
                                    <span>
                                        @pro.Price
                                    </span>
                                </div>
                                <div class="effect-shadow">
                                    <a href="~/Product/Detail/@pro.ID" style="display: block; width: 100%; height: 100%;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>
