@model FashionShop.Models.Domain.User

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script {
    <script src="~/assets/customer/js/controller/checkoutcontroller.js"></script>
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Thanh toán</a></li>
        </ul>
        <div class="row login-page">
            <div class="col-sm-12" id="content">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="well">
                            <h3>Vui lòng điền thông tin giao hàng</h3>
                            @using (Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-group">
                                    <label for="input-fullname" class="control-label">Họ và tên</label>
                                    <input type="text" class="form-control" id="input-fullname" placeholder="Nhập họ và tên" value="@Model.FullName" name="FullName">
                                    <input type="hidden" class="form-control" value="@Model.Id" name="UserID">
                                    <input type="hidden" id="voucherID" class="form-control" value="" name="VoucherID">
                                    <input type="hidden" id="deliveryFee" class="form-control" value="" name="DeliveryFee">
                                    @if (ViewBag.errorFullName != null)
                                    {
                                        <span style="color: red">@ViewBag.errorFullName</span>
                                    }
                                </div>

                                <div class="form-group">
                                    <label for="input-email" class="control-label">E-Mail</label>
                                    <input type="email" class="form-control" id="input-email" value="@Model.Email" disabled>
                                    <input type="hidden" value="@Model.Email" name="Email">
                                </div>

                                <div class="form-group">
                                    <label for="input-phonenumber" class="control-label">Số điện thoại</label>
                                    <input type="number" class="form-control" id="input-phonenumber" placeholder="Nhập số điện thoại" value="@Model.PhoneNumber" name="PhoneNumber">
                                    @if (ViewBag.errorPhoneNumber != null)
                                    {
                                        <span style="color: red">@ViewBag.errorPhoneNumber</span>
                                    }
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label for="input-shipping-country" class="control-label">Tỉnh / Thành</label>

                                        @Html.DropDownList("ProvinceID", new SelectList(new string[] {}), htmlAttributes: new {@class = "form-control", @id = "ddlProvince"})
                                    
                                        @if(ViewBag.errorProvinceID != null)
                                        {
                                            <span style="color: red">@ViewBag.errorProvinceID</span>
                                        }
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="input-shipping-country" class=" control-label">Quận / Huyện</label>

                                        @Html.DropDownList("DistrictID", new SelectList(new string[] {}), htmlAttributes: new {@class = "form-control", @id = "ddlDistrict"})
                                    
                                        @if(ViewBag.errorDistrictID != null)
                                        {
                                                    <span style="color: red">@ViewBag.errorDistrictID</span>
                                        }
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="input-shipping-country" class="control-label">Phường / Xã</label>

                                        @Html.DropDownList("WardID", new SelectList(new string[] {}), htmlAttributes: new {@class = "form-control", @id = "ddlWard"})
                                    
                                        @if(ViewBag.errorWardID != null)
                                        {
                                            <span style="color: red">@ViewBag.errorWardID</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-address" class="control-label">Địa chỉ giao hàng</label>
                                    <input type="text" class="form-control" id="input-address" placeholder="Nhập địa chỉ giao hàng" value="" name="Address">

                                    @if (ViewBag.errorAddress != null)
                                    {
                                        <span style="color: red">@ViewBag.errorAddress</span>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="input-content" class="control-label">Nội dung đơn hàng</label>
                                    <textarea class="form-control" id="input-content" placeholder="Nhập nội dung đơn hàng" value="" name="Note" style="height: 100px;"></textarea>
                                </div>
                                <div class="form-group" style="text-align: end;">
                                    <input type="submit" class="btn btn-primary" value="Đặt hàng" style="width:100%; ">
                                    <a href="/ShoppingCart">Quay lại giỏ hàng</a>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a aria-expanded="false" href="#collapse-coupon" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
                                            Sử dụng mã giảm giá <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div style="height: 0px;" aria-expanded="false" id="collapse-coupon" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="input-group">
                                            <input type="text" name="coupon" value="" placeholder="Nhập mã giảm giá ở đây" id="txtDiscountCode" class="form-control">
                                            <span class="input-group-btn">
                                                <input type="button" value="Sử dụng" id="btnCheckVoucher" class="btn btn-primary">
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="msgVoucher">
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <h3>Thông tin đơn hàng</h3>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart-table-total-label"><strong>Tổng tiền hàng: </strong></td>
                                        <td id="txtTotalMoney" class="text-right cart-table-total"></td>
                                    </tr>

                                    <tr>
                                        <td class="cart-table-total-label"><strong>Phí vận chuyển: </strong></td>
                                        <td id="txtDeliveryFee" class="text-right cart-table-total">20.000đ</td>
                                    </tr>

                                    <tr>
                                        <td class="cart-table-total-label"><strong>Voucher giảm giá: </strong></td>
                                        <td id="txtVoucher" class="text-right cart-table-total">- 0đ</td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="cart-table-total-label"><strong>Tổng thanh toán: </strong></td>
                                        <td id="txtTotalPayment" class="text-right cart-table-total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>