@using System.Globalization;
@model FashionShop.Models.DTO.OrderDTO.GetOrderByUserIdDTO
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double totalOrder = 0;

    double voucherValue = 0;

}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Chi tiết đơn hàng</a></li>
        </ul>

        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h2>Chi tiết đơn hàng</h2>
            </div>

            <div class="post-item row">
                <div class="col-md-5">
                    <h3>Thông tin giao hàng</h3>
                    <p>Mã đơn hàng: @Model.ID</p>
                    <p>Tên người nhận: @Model.FullName</p>
                    <p>Số điện thoại: @Model.PhoneNumber</p>
                    <p>Địa chỉ giao hàng: @Model.Address</p>
                    <p>Nội dung đơn hàng: @Model.Note</p>

                    @if (Model.Status == 1)
                    {
                        <p>Trạng thái đơn hàng: Chờ xác nhận</p>
                    }
                    else if (Model.Status == 2)
                    {
                        <p>Trạng thái đơn hàng: Đang giao hàng</p>
                    }
                    else
                    {
                        <p>Trạng thái đơn hàng: Đã hủy</p>
                    }
                </div>

                <div class="col-md-7" >
                    <h3>Thông tin đơn hàng</h3>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-dark">
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                double price = 0;

                                <tr>
                                    <td><img src="~/@item.Product.Image" style="width: 80px" /></td>
                                    <td>@item.Product.Name</td>
                                    @if (item.Product.Discount > 0)
                                    {
                                        price = item.Product.Price - (item.Product.Price * item.Product.Discount / 100);
                                        <td>
                                            <span style="text-decoration: line-through; font-size: 80%">@item.Product.Price</span>
                                            <span>@price.ToString("C0", new CultureInfo("vi-VN"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        price = item.Product.Price;
                                        <td>@price.ToString("C0", new CultureInfo("vi-VN"))</td>
                                    }
                                    <td>@item.Quantity</td>

                                    @{
                                        var total = price * item.Quantity;
                                        <td>@total.ToString("C0", new CultureInfo("vi-VN"))</td>
                                    }
                                </tr>

                                totalOrder += price * item.Quantity;
                            }

                            @if (Model.Voucher != null)
                            {
                                if (Model.Voucher.DiscountAmount == true)
                                {
                                    voucherValue = Model.Voucher.DiscountValue;
                                }
                                else
                                {
                                    voucherValue = totalOrder * Model.Voucher.DiscountValue / 100;
                                }
                            }

                        </tbody>
                    </table>
                </div>

                

                <div class="spacer" style="height: 20px"></div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table">
                        <tbody>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Tổng tiền hàng: </strong></td>
                                <td class="text-right cart-table-total">@totalOrder.ToString("C0", new CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Phí vận chuyển: </strong></td>
                                <td class="text-right cart-table-total">@Model.DeliveryFee.ToString("C0", new CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Voucher giảm giá: </strong></td>
                                <td class="text-right cart-table-total">- @voucherValue.ToString("C0", new CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Tổng thanh toán: </strong></td>
                                @{
                                    var totalPayment = totalOrder + @Model.DeliveryFee - voucherValue;
                                    <td class="text-right cart-table-total">@totalPayment.ToString("C0", new CultureInfo("vi-VN"))</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

